@charset "utf-8";

* {
  box-sizing: border-box;
}
:root {
  --clr-white: #fff;
  --clr-black: #000;
  --clr-secondary-black: #1e1e1e;
  --clr-primary: #fe5a1d;
  --clr-border: #aaa;
  --font-primary:  "Inria", sans-serif;
  --easeVertical: cubic-bezier(0.57, 0.04, 0.18, 1.06);
}

body {
  background-color: var(--clr-white);
  color: var(--clr-black);
  font-family: var(--font-primary);
  font-size: 19px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
a {
  display: inline-block;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
a:hover,
a.active {
  transition: 0.8s;
  -webkit-transition: 0.8s;
}
img {
  vertical-align: bottom;
  max-width: 100%;
}
.wrapper {
  /* margin: 0 auto;
  max-width: 1240px; */
  position: relative;
  width: 750px;
  height: 500px;
  background-color: transparent;
  border: 2px solid var(--clr-primary);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px var(--clr-primary);
}
.wrapper .form-box{
  display: flex;
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}
form{
  font-family: "Inria", sans-serif;
  font-size: 16px;
  color: var(--clr-secondary-black);
  left: 0;
  margin: 0 60px 0 40px;
  
}

.form-box h2{
  color: var(--clr-secondary-black);
  text-align: center;
}
.form-box form .input-box{
  width: 100%;
  height: 50px;
  position: relative;
  margin: 25px 0;
}
.input-box input{
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-bottom: 2px solid var(--clr-secondary-black);
  outline: none;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  transition: all .3s var(--easeVertical);
  font-weight: 700;
}
.input-box input:focus,
.input-box input:valid{
border-bottom-color: var(--clr-primary);
}
.input-box label{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: all .3s var(--easeVertical);
  margin-bottom: 10px;
}
.input-box input:focus~label,
.input-box input:valid~label{
  top: -5px;
  color: var(--clr-primary);
}

.forget-password a{
  color: var(--clr-primary);
  font-weight: 700;
  padding-bottom: 5px;
}
.forget-password a:hover{
  border-bottom: 2px solid var(--clr-primary);
}
.btn:hover{
  background-color: var(--clr-primary);
  color: var(--clr-white);
}
form .login-btn{
  position: relative;
  width: 100%;
  height: 45px;
  background-color: transparent;
  outline: none;
  border: 2px solid var(--clr-primary);
  border-radius: 40px;
  cursor: pointer;
  color: var(--clr-secondary-black);
  font-weight: 700;
  margin-top: 20px;
  transition: all .5s var(--easeVertical);
}

.form-box .logreg-link{
  text-align: center;
  font-size: 14px;
  margin: 20px 0 10px;
}
.form-box .logreg-link p a{
  color: var(--clr-primary);
  font-weight: 700;
}
.form-box .logreg-link p a:hover{
  opacity: 0.8;
}
.wrapper .info-text{
  position: absolute;
  z-index: -1;
  top: 0;
  width: 50%;
  height: 80%;
  /* background-color: var(--clr-border); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--clr-white);
}
.wrapper .info-text.login-text{
  right: 0;
  text-align: right;
  padding: 0 40px 60px 150px;
  z-index: 99;
}
.wrapper .info-text h2{
  line-height: 1.3;
  text-transform: uppercase;
}
.wrapper .bg-animate{
  position: absolute;
  top: -4px;
  right: 0;
  width: 850px;
  height: 600px;
  background: linear-gradient(45deg,#000000, #fe5a1d);
  transform: rotate(10deg) skewY(40deg);
  transform-origin: bottom right;
  border: 3px solid var(--clr-primary);
}
