@charset "utf-8";

/*-------------------------------------------------------
 フォントサイズ
--------------------------------------------------------*/
.font10 { font-size: 10px; }
.font11 { font-size: 11px; }
.font12 { font-size: 12px; }
.font13 { font-size: 13px; }
.font14 { font-size: 14px; }
.font16 { font-size: 16px; }
.font18 { font-size: 18px; }
.font20 { font-size: 20px; }
.font22 { font-size: 22px; }
.font24 { font-size: 24px; }
.font28 { font-size: 28px; }
.font32 { font-size: 32px; }
.font36 { font-size: 36px; }
.font42 { font-size: 42px; }
.font46 { font-size: 46px; }
.font48 { font-size: 48px; }
.font56 { font-size: 56px; }
.font64 { font-size: 64px; }
@media (min-width: 768px) and (max-width: 1240px) {
  .font10 { font-size: 0.806vw; }
  .font11 { font-size: 0.887vw; }
  .font12 { font-size: 0.968vw; }
  .font13 { font-size: 1.048vw; }
  .font14 { font-size: 1.129vw; }
  .font16 { font-size: 1.29vw; }
  .font18 { font-size: 1.452vw; }
  .font20 { font-size: 1.613vw; }
  .font22 { font-size: 1.774vw; }
  .font24 { font-size: 1.935vw; }
  .font28 { font-size: 2.258vw; }
  .font32 { font-size: 2.581vw; }
  .font36 { font-size: 2.903vw; }
  .font42 { font-size: 3.387vw; }
  .font46 { font-size: 3.71vw; }
  .font48 { font-size: 3.871vw; }
  .font56 { font-size: 4.516vw; }
  .font64 { font-size: 5.161vw; }
}
@media (max-width: 767.9px) {
  .sm-font10 { font-size: 2.564vw;}
  .sm-font11 { font-size: 2.821vw; }
  .sm-font12 { font-size: 3.077vw;}
  .sm-font13 { font-size: 3.333vw; }
  .sm-font14 { font-size: 3.59vw;}
  .sm-font16 { font-size: 4.103vw;}
  .sm-font18 { font-size: 4.615vw;}
  .sm-font20 { font-size: 5.128vw;}
  .sm-font22 { font-size: 5.641vw; }
  .sm-font24 { font-size: 6.154vw;}
  .sm-font26 { font-size: 6.667vw;}
  .sm-font28 { font-size: 7.179vw; }
  .sm-font32 { font-size: 8.205vw; }
  .sm-font36 { font-size: 9.231vw; }
  .sm-font42 { font-size: 10.769vw; }
  .sm-font46 { font-size: 11.795vw; }
  .sm-font48 { font-size: 12.308vw; }
  .sm-font56 { font-size: 14.359vw; }
  .sm-font64 { font-size: 16.41vw; }
}
/*-------------------------------------------------------
 マージン　パディング
--------------------------------------------------------*/
.mt5 { margin-top: 5px; } .pt5 { padding-top: 5px; }
.mt10 { margin-top: 10px; } .pt10 { padding-top: 10px; }
.mt15 { margin-top: 15px; } .pt10 { padding-top: 15px; }
.mt20 { margin-top: 20px; } .pt20 { padding-top: 20px; }
.mt25 { margin-top: 25px; } .pt25 { padding-top: 25px; }
.mt30 { margin-top: 30px; } .pt30 { padding-top: 30px; }
.mt35 { margin-top: 35px; } .pt35 { padding-top: 35px; }
.mt40 { margin-top: 40px; } .pt40 { padding-top: 40px; }
.mt45 { margin-top: 45px; } .pt45 { padding-top: 45px; }
.mt50 { margin-top: 50px; } .pt50 { padding-top: 50px; }
.mt60 { margin-top: 60px; } .pt60 { padding-top: 60px; }
.mt80 { margin-top: 80px; } .pt80 { padding-top: 80px; }
@media (min-width: 768px) and (max-width: 1240px) {
  .mt5 { margin-top: 0.403vw; } .pt5 { padding-top: 0.403vw; }
  .mt10 { margin-top: 0.806vw; } .pt10 { padding-top: 0.806vw; }
  .mt15 { margin-top: 1.21vw; } .pt10 { padding-top: 1.21vw; }
  .mt20 { margin-top: 1.613vw; } .pt20 { padding-top: 1.613vw; }
  .mt25 { margin-top: 2.016vw; } .pt25 { padding-top: 2.016vw; }
  .mt30 { margin-top: 2.419vw; } .pt30 { padding-top: 2.419vw; }
  .mt35 { margin-top: 2.823vw; } .pt35 { padding-top: 2.823vw; }
  .mt40 { margin-top: 3.226vw; } .pt40 { padding-top: 3.226vw; }
  .mt45 { margin-top: 3.629vw; } .pt45 { padding-top: 3.629vw; }
  .mt50 { margin-top: 4.032vw; } .pt50 { padding-top: 4.032vw; }
  .mt60 { margin-top: 4.839vw; } .pt60 { padding-top: 4.839vw; }
  .mt80 { margin-top: 6.452vw; } .pt80 { padding-top: 6.452vw; }
}
@media (max-width: 767.9px) {
  .sm-mt5 { margin-top: 1.282vw; } .sm-pt5 { padding-top: 1.282vw; }
  .sm-mt10 { margin-top: 2.564vw; } .sm-pt10 { padding-top: 2.564vw; }
  .sm-mt15 { margin-top: 3.846vw; } .pt10 { padding-top: 3.846vw; }
  .sm-mt20 { margin-top: 5.128vw; } .sm-pt20 { padding-top: 5.128vw; }
  .sm-mt25 { margin-top: 6.41vw; } .sm-pt25 { padding-top: 6.41vw; }
  .sm-mt30 { margin-top: 7.692vw; } .sm-pt30 { padding-top: 7.692vw; }
  .sm-mt35 { margin-top: 8.974vw; } .sm-pt35 { padding-top: 8.974vw; }
  .sm-mt40 { margin-top: 10.256vw; } .sm-pt40 { padding-top: 10.256vw; }
  .sm-mt45 { margin-top: 11.538vw; } .sm-pt45 { padding-top: 11.538vw; }
  .sm-mt50 { margin-top: 12.821vw; } .sm-pt50 { padding-top: 12.821vw; }
  .sm-mt60 { margin-top: 15.385vw; } .sm-pt60 { padding-top: 15.385vw; }
  .sm-mt80 { margin-top: 20.513vw; } .sm-pt80 { padding-top: 20.513vw; }
}

.mb5 { margin-bottom: 5px; } .pb5 { padding-bottom: 5px; }
.mb10 { margin-bottom: 10px; } .pb10 { padding-bottom: 10px; }
.mb20 { margin-bottom: 20px; } .pb20 { padding-bottom: 20px; }
.mb25 { margin-bottom: 25px; } .pb25 { padding-bottom: 25px; }
.mb30 { margin-bottom: 30px; } .pb30 { padding-bottom: 30px; }
.mb35 { margin-bottom: 35px; } .pb35 { padding-bottom: 35px; }
.mb40 { margin-bottom: 40px; } .pb40 { padding-bottom: 40px; }
.mb45 { margin-bottom: 45px; } .pb45 { padding-bottom: 45px; }
.mb50 { margin-bottom: 50px; } .pb50 { padding-bottom: 50px; }
.mb60 { margin-bottom: 60px; } .pb60 { padding-bottom: 60px; }
.mb80 { margin-bottom: 80px; } .pb80 { padding-bottom: 80px; }
.mb120 { margin-bottom: 120px; } .pb120 { padding-bottom: 120px; }
@media (min-width: 768px) and (max-width: 1240px) {
  .mb5 { margin-bottom: 0.403vw; } .pb5 { padding-bottom: 0.403vw; }
  .mb10 { margin-bottom: 0.806vw; } .pb10 { padding-bottom: 0.806vw; }
  .mb20 { margin-bottom: 1.613vw; } .pb20 { padding-bottom: 1.613vw; }
  .mb25 { margin-bottom: 2.016vw; } .pb25 { padding-bottom: 2.016vw; }
  .mb30 { margin-bottom: 2.419vw; } .pb30 { padding-bottom: 2.419vw; }
  .mb35 { margin-bottom: 2.823vw; } .pb35 { padding-bottom: 2.823vw; }
  .mb40 { margin-bottom: 3.226vw; } .pb40 { padding-bottom: 3.226vw; }
  .mb45 { margin-bottom: 3.629vw; } .pb45 { padding-bottom: 3.629vw; }
  .mb50 { margin-bottom: 4.032vw; } .pb50 { padding-bottom: 4.032vw; }
  .mb60 { margin-bottom: 4.839vw; } .pb60 { padding-bottom: 4.839vw; }
  .mb80 { margin-bottom: 6.452vw; } .pb80 { padding-bottom: 6.452vw; }
  .mb120 { margin-bottom: 9.677vw; } .pb120 { padding-bottom: 9.677vw; }
}
@media (max-width: 767.9px) {
  .sm-mb5 { margin-bottom: 1.282vw; } .sm-pb5 { padding-bottom: 1.282vw; }
  .sm-mb10 { margin-bottom: 2.564vw; } .sm-pb10 { padding-bottom: 2.564vw; }
  .sm-mb20 { margin-bottom: 5.128vw; } .sm-pb20 { padding-bottom: 5.128vw; }
  .sm-mb25 { margin-bottom: 6.41vw; } .sm-pb25 { padding-bottom: 6.41vw; }
  .sm-mb30 { margin-bottom: 7.692vw; } .sm-pb30 { padding-bottom: 7.692vw; }
  .sm-mb35 { margin-bottom: 8.974vw; } .sm-pb35 { padding-bottom: 8.974vw; }
  .sm-mb40 { margin-bottom: 10.256vw; } .sm-pb40 { padding-bottom: 10.256vw; }
  .sm-mb45 { margin-bottom: 11.538vw; } .sm-pb45 { padding-bottom: 11.538vw; }
  .sm-mb50 { margin-bottom: 12.821vw; } .sm-pb50 { padding-bottom: 12.821vw; }
  .sm-mb60 { margin-bottom: 15.385vw; } .sm-pb60 { padding-bottom: 15.385vw; }
  .sm-mb80 { margin-bottom: 20.513vw; } .sm-pb80 { padding-bottom: 20.513vw; }
  .sm-mb120 { margin-bottom: 30.769vw; } .sm-pb120 { padding-bottom: 30.769vw; }
}
/*-------------------------------------------------------
 PC・スマホ非表示
--------------------------------------------------------*/
.pcnone { display: none; }

@media (max-width : 767.9px){
.spnone { display: none !important; }
.pcnone { display: block; }
}

.d-flex {
  display: flex;
}

/*-------------------------------------------------------
 Flex Box
--------------------------------------------------------*/
.box-row-wrap      { -webkit-flex-flow: row wrap; -ms-flex-flow: row wrap; flex-flow: row wrap; }
.box-start         { -webkit-justify-content: flex-start; justify-content: flex-start; }
.box-end           { -webkit-justify-content: flex-end; justify-content: flex-end; }
.box-center        { -webkit-justify-content: center; justify-content: center; }
.box-space-around  { -webkit-justify-content: space-around; justify-content: space-around; }
.box-space-between { -webkit-justify-content: space-between; justify-content: space-between; }
.box-top           { -webkit-align-items: flex-start; align-items: flex-start; -webkit-box-align: start; -ms-flex-align: start; }
.box-middle        { -webkit-align-items: center; align-items: center; -webkit-box-align: center; -ms-flex-align: center; }
.box-bottom        { -webkit-align-items: flex-end; align-items: flex-end; -webkit-box-align: end; -ms-flex-align: end; }

/*-------------------------------------------------------
Vertical Align
--------------------------------------------------------*/
.v-middle     { vertical-align: middle; }
.v-top        { vertical-align: top; }
.v-txt-top    { vertical-align: text-top; }
.v-baseline   { vertical-align: baseline; }
.v-bottom     { vertical-align: bottom; }

